
@{
    ViewBag.Title = "Index";
}

@section scripts
{
    <script src="~/Scripts/CalendarIndex.js" type="text/javascript"></script>
}

@section styles{
    <link href="~/Content/calendarIndex.css" rel="stylesheet" type="text/css"/>
}


<div id="CalendarWidget">

</div>
<div id ="CalendarEventsView">

</div>

